<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Details</nb-card-header>
        <nb-card-body>
          <label>Titre Opération:</label>
          <input type="text" nbInput fullWidth placeholder="Titre Operation" [(value)]="operation.titreoperation"> 
          <!-- [(value)]="operation.titreoperation" -->
          <input type="text" nbInput fullWidth placeholder="Code UAI" [(value)]="operation.codeuai">
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Ville" [(value)]="operation.ville">
            <input type="text" nbInput fullWidth placeholder="Lycee" [(value)]="operation.lycee">
          </div>
          <label>Année de livraison:</label>
          <input type="number" nbInput fullWidth placeholder="Livraison" [(value)]="operation.annee_de_livraison">
          <input type="text" nbInput fullWidth placeholder="ppi" [(value)]="operation.ppi">
          <input type="number" nbInput fullWidth placeholder="Enveloppe" [(value)]="operation.enveloppe_prev_en_meu">
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Enterprise"[(value)]="operation.entreprise">
            <input type="text" nbInput fullWidth placeholder="Mandataire" [(value)]="operation.mandataire">
          </div>
          <input type="text" nbInput fullWidth placeholder="Maîtrise d'oeuvre" [(value)]="operation.maitrise_d_oeuvre">
          <input type="text" nbInput fullWidth placeholder="Etat d'avancement"[(value)]="operation.etat_d_avancement">
          <div class="full-name-inputs">
            <input type="datetime" nbInput fullWidth placeholder="Année d'individualisation"[(value)]="operation.annee_d_individualisation">
            <input type="datetime" nbInput fullWidth placeholder="Notification du marché"[(value)]="operation.notification_du_marche">
            <input type="datetime" nbInput fullWidth placeholder="CAO attribution"[(value)]="operation.cao_attribution">
          </div>
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Mode de dévolution"[(value)]="operation.mode_de_devolution">
            <input type="number" nbInput fullWidth placeholder="Montant des votes"[(value)]="operation.montant_des_ap_votes_en_meu">
          </div>
          <div class="full-name-inputs">
            <input type="number" nbInput fullWidth placeholder="Longitude" [(value)]="operation.longitude">
            <input type="number" nbInput fullWidth placeholder="Latitude" [(value)]="operation.latitude">
          </div>

          <!-- <input type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle border">
          <input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi-round border">
          <input type="text" nbInput fullWidth shape="round" placeholder="Rounded border">
          <input type="text" nbInput fullWidth placeholder="Disabled input" disabled/>
          <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Comments"></textarea>
          <input type="text" nbInput fullWidth fieldSize="small"  placeholder="Small Input">
          <input type="text" nbInput fullWidth fieldSize="medium"  placeholder="Medium Input">
          <input type="text" nbInput fullWidth fieldSize="large"  placeholder="Large Input"> -->
        </nb-card-body>
      </nb-card>
    </div>