<div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Details</nb-card-header>
        <nb-card-body>
          <label>Titre Opération:</label>
          <input type="text" nbInput fullWidth placeholder="Titre Operation" [(value)]="operation.titreoperation">
          <input type="text" nbInput fullWidth placeholder="Code UAI">
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Ville">
            <input type="text" nbInput fullWidth placeholder="Lycee">
          </div>
          <label>Année de livraison:</label>
          <input type="date" nbInput fullWidth placeholder="Livraison">
          <input type="text" nbInput fullWidth placeholder="ppi">
          <input type="number" nbInput fullWidth placeholder="Enveloppe">
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Enterprise">
            <input type="text" nbInput fullWidth placeholder="Mandataire">
          </div>
          <input type="text" nbInput fullWidth placeholder="Maîtrise d'oeuvre">
          <input type="text" nbInput fullWidth placeholder="Etat d'avancement">
          <div class="full-name-inputs">
            <input type="date" nbInput fullWidth placeholder="Année d'individualisation">
            <input type="date" nbInput fullWidth placeholder="Notification du marché">
            <input type="date" nbInput fullWidth placeholder="CAO attribution">
          </div>
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Mode de dévolution">
            <input type="number" nbInput fullWidth placeholder="Montant des votes">
          </div>
          <div class="full-name-inputs">
            <input type="number" nbInput fullWidth placeholder="Longitude">
            <input type="number" nbInput fullWidth placeholder="Latitude">
          </div>

          <!-- <input type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle border">
          <input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi-round border">
          <input type="text" nbInput fullWidth shape="round" placeholder="Rounded border">
          <input type="text" nbInput fullWidth placeholder="Disabled input" disabled/>
          <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Comments"></textarea>
          <input type="text" nbInput fullWidth fieldSize="small"  placeholder="Small Input">
          <input type="text" nbInput fullWidth fieldSize="medium"  placeholder="Medium Input">
          <input type="text" nbInput fullWidth fieldSize="large"  placeholder="Large Input"> -->
        </nb-card-body>
      </nb-card>
    </div>